[data-theme="light"] {
  --color-bg:#2E4052;
  --color-fr:#FBFEFB;

}

[data-theme="dark"] {
  --color-bg: #000000;
  
  
}





body{

   
    background-color:#2E4052;
    
    font-family:Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /

}

    nav{
        background-color:#2E4052;
        width:100%;
        Display:  Flex;
        Flex-direction:row;
        justify-content: space-around;
        z-index:1;
        padding: 10px;
    
    }
    [data-color="red-a98-rgb"] {
        background-color: color(a98-rgb 1 0 0);
      }
    
    a{
        text-decoration: none;
        color: beige;
        text-decoration: none; /* Remove the default underline for links */
        border-bottom: 2px solid transparent; /* Initially, a transparent border */
        transition: border-bottom 0.3s; 
        }

        li{
            list-style-type: none;
            padding:10px
        
            }
        
          


    li a {
        text-decoration: none; /* Remove the default underline for links */
        position: relative; /* Set the position of the link to relative */
      }
      
     li a::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        display: block;
        transition: all 0.3s ease;
        bottom: 0%;
      }
      
      li a:hover::after {
        width: 100%;
        background-color: #fff;
      }
      
      
      
      
      
      
    



    @keyframes bottommvt{
        0%{
            border-bottom: beige;

        }
        100% {
            color: rgb(184, 184, 204);
            opacity: 1;
        }

    }


        body{
            background-color: beige;
        }


        
          .secondpagesection,.pagefoursection{
            background-color:beige;
            width:100vw;
            height:100vh;
            margin-top: 5rem;
           
            padding-left: 10px;
            padding-bottom: 150px;
            padding-top: 0px;
          
            
          
          }
          

          .aboutmebox{
            width:55vw;
            margin-top:5rem;
            background-color:rgb(212, 212, 205);
            border: 2px;
            border-color: #188085;
            border-radius: 10px;
            padding-left: 10px;
          
          }


.horizontal-scroll-wrapper-squares {
 
    flex-direction: row; /* Arrange child elements horizontally */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent content from wrapping to the next line */
    width: 50%;
  
  }
  
  .part-of-scroller {
    display: inline-block; /* Display child elements inline to make them scroll horizontally */
    margin-right: 45px; /* Add spacing between content blocks */
  }
  



  .pagethreesection{
  
    width:100vw;
    height:100vh;
    margin-top: 5rem;
  
    padding-left: 10px;
    padding-bottom: 150px;
    padding-top: 30px;
  }
  
  #download-cv-btn{
    background-color:  #2E4052;
    border-radius:20px;
    border: none;
    color:beige;
    padding: 12px 30px;
    margin:50px;
    cursor: pointer;
    font-size: 20px;
  
  }
  
  #download-cv-btn:hover {
    background-color: rgb(65, 225, 214);
  }



  table {

    background-color: antiquewhite;
    width: 60%;
  
    margin: 20px;
    border-radius:5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
    
  
  }
  
  th,td{
    padding: 12px 15px;
  }
  tr:hover {
    border-style: inset;
    color:var(--main-color);
    background-color: grey;
    
  
  }
  tr{
    margin: 20%;
    border-bottom: 1px solid #dddddd;
  
  }
  
  tr:nth-of-type(odd) {
    background-color: #f3f3f3;
  
  }
  
  tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  li {
    margin: 10px 0;
    padding: 5px; 
    
  }



  .grid-container {

    display: inline-grid;
 
    padding: 20px;
   
    box-sizing: border-box;

    gap: 10px;
    grid-template-columns: repeat(2, 1fr); 
 

  }
  @media only screen and (max-width: 1000px) {
    .grid-container {
      grid-template-columns: 1fr;
     
    
    }
}

  @media only screen and (max-width: 550px) {
    .grid-container {
      grid-template-columns: 1fr;
     
    
    }
}
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
   
	box-shadow: inset 0px 0px 0px 1px;

	transition: transform 0.14s ;
    text-shadow : ease-in;
	will-change: transform;
	cursor: pointer}

	.grid-item::before{
		content: ""
		+absolute(0,0,0,0);
		background: none;
		border-radius: 3px;
		box-shadow: 0 10px 24px 0px rgba(0,0,0,0.02), 0 8px 20px -2px rgba(0,0,0,0.06), 0 6px 10px -6px rgba(0,0,0,0.10);
		transition: opacity 0.1s ease-in;
		will-change: opacity;
		opacity: 0;
    }

	.grid-item:hover{
		transform: translate(0,-20px) }

	.grid-item:before{
			opacity: 1}

  

 
  
  
  




  /* Style the fieldset */
fieldset {
    border: 2px solid #2E4052;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 700px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  legend {
    font-weight: bold;
  }
  
  /* Style the form */

  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 80%;
  }
  
  textarea {
    width: 80%;
    height: 100px;
  }
  
  /* Style the submit button */
  input[type="submit"] {
    background-color: #f9f9f9;
    color: #2E4052;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color:  #656d74;
  }
  

/*My form is a flexbox*/

  .wrapper {
    background-color:#2E4052;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
    padding: 20px;
    color: #f9f9f9;
  }
  .form-row {
    
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5em;
  }
  .form-row > label {
    padding: .5em 1em .5em 0;
  }
  .form-row > input {
    flex: 1;
  }
  .form-row > input,
  .form-row > button {
    padding: .5em;
  }
  .form-row > button {
   background: gray;
   color: white;
   border: 0;
  }
  .form_row label {
    margin-right: 10px;
}



/*                     */

  .error-message,
  .info-message ,
  .solve-message
  {
      color: red;
      font-size: 14px;
      margin-top: 5px;
      flex-direction: row;    
  }

  .approve-message{
    color: green;
      font-size: 14px;
      margin-top: 5px;
      flex-direction: row; 

  }




/* Style the error message */
.errorNameMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

/* Show the error message when the input is invalid */
.name:invalid + .errorNameMessage {
  display: block;
}

/* Hide the error message when the input is valid */
.name:valid + .errorNameMessage {
  display: none;
}

  
  h2:has(+ p) {
    margin-bottom: 0;
    color:red;
  }




/*Error messages */

  .message {
    color: red;
    display: none;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}


.character-count{

  
  color:#656d74;
  font-size: 14px;
  margin-top: 5px;
  flex-direction: row;
}
.perfect {
  color: green;
}
.error {
  color: red;
}
.warn {
  color: orange;
}



.flash {
  animation: flashAnimation 0.5s;
}

@keyframes flashAnimation {
  0%, 100% { background-color: inherit; }
  50% { background-color: #ff9999; }
}